.countries-container{
    background-color: hsl(207, 26%, 17%);
    border-radius: 5px;
    margin:auto;
    max-width: 1440px;
}
.countries-container-header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.countries-container-lightMode{
    background-color: hsl(0, 0%, 98%);
    border-radius: 5px;
    margin:auto;
    max-width: 1440px;
}
.searchbar {
   
    width: 300px;
    padding: 5px 30px 5px 10px;
    background-color:hsl(209, 23%, 22%);
    box-shadow: 0px 6px 5px 0px rgba(1, 6, 34, 0.15);
    color: white;
    border-radius: 5px;
}
.searchbar-lightmode{
    width: 300px;
    padding: 5px 30px 5px 10px;
    background-color:white;
    box-shadow: 0px 6px 5px 0px rgba(1, 6, 34, 0.15);
    color: white;
    border-radius: 5px;
}
.searchbar-lightmode input{
    border: none;
    outline: none;
}
.searchbar input{
    border: none;
    margin-left: 10px;
    color: white;
    background-color: hsl(209, 23%, 22%);
    outline: none;
    font-weight:500;
}
.filter{

   border-radius: 8px;
    padding: 10px 30px 5px 10px;
    background-color: hsl(209, 23%, 22%);
    color: white;
    margin-right: 20px;
}
.listitem ul, .listitemLight ul{
    list-style: none;
}
.filter input{
    outline: none;
    border: none;
    color: white;
    font-weight:500;
    margin-right: -40px;
    background-color: hsl(209, 23%, 22%);
}
.filter-light{
    border-radius: 8px;
    padding: 10px 30px 5px 10px;
    background-color:white;
    color: white;
    margin-right: 20px;
    box-shadow: 0px 6px 5px 0px rgba(1, 6, 34, 0.15)
}
.filter-light input{
    border: none;
    outline: none;
}
.listitem{
    border-radius: 8px;
    padding: 10px 30px 5px 10px;
    background-color: hsl(209, 23%, 22%);
    color: white;
    position: absolute;
    width: 140px;
    margin-top:10px ;
   

}
.listitemLight{
    border-radius: 8px;
    padding: 10px 30px 5px 10px;
    background-color: white;
    color: black;
    position: absolute;
    width: 140px;
    margin-top:10px;
}
.listitem li, .listitemLight li{
    margin-bottom: 15px;
    cursor: pointer;
}
@media screen and (max-width: 920px) {
    .countries-container-header{
        display: grid;
        padding: 10px; 
    }
    .searchbar {
        width: 200px;
        margin-bottom: 20px;
    }
}