.cardComponent-details{
    color: white;
    line-height: 3;
    height: 100vh;
}
.cardComponent-detailsLight{
    color: black;
    line-height: 3;
    height: 80vh;
}
.extra-details{
    display: flex;
}
.more-details,.moreL-details{
    margin-left: 60px;
    
   
}

.card__details,.cardL__details{
    display: flex;
    padding: 2em;
   
}
.border{
    display: flex;
}
.detailflag img{
    width:100%;
    height:100%;
}
.detailflag{
    width: 40%;
}
@media screen and (max-width: 920px) {
    .card__details,.cardL__details{
        display: grid;
        padding: 0;
        line-height:2;
        height: auto;
    }.detailflag {
        margin-left: 25px;
    }
    .detailflag img{
        width:auto;
        height:100%;
    }
    .more-details,.moreL-details{
        margin-left: 0;
        padding: 2em;
        
       
    }
}
    