*,::after,::after{
  margin: 0;
  padding: 0;
}
html{
  background-color: white;
}



@import url(./style/Navbar.css);
@import url(./style/Countries.css);
@import url(./style/CountryCard.css);
@import url(./style/Details.css);
